<md-dialog layout="column" aria-label="Filter Transfers">
  <form name="transferFilters" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Transfer Filters</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.cancel()">
          <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <div layout="row">
        <md-input-container flex="50">
          <label>Current Locaiton</label>
          <input name="inLocation" ng-model="dialog.inLocationInput">
        </md-input-container>

        <md-input-container flex="50">
          <label>Destination Locaiton</label>
          <input name="toLocation" ng-model="dialog.toLocationInput">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" ng-click="dialog.submit()">
        Filter Items
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>