 
  <md-content flex layout-padding>
    <section flex layout-padding>
    <p>login</p>
    <md-input-container>
      <label>email</label>
      <input ng-model="main.user.username" type="text">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="main.user.password" type="password">
    </md-input-container>
    <md-input-container>
      <md-button class="md-raised md-primary" ng-click="main.login(main.user)">Login</md-button>
    </md-input-container>
    </section>
    <md-divider></md-divider>

  </md-content>
