<div ng-controller="UsersController as ctrl">  
  <md-toolbar layout="row" class="md-whiteframe-z1 md-default-theme">
    <h5 layout-padding >Angular Data Table</h5>
  </md-toolbar>

  <md-content layout-padding flex="" id="content" class="md-default-theme">
    <h2>Scrolling</h2>
    <dtable options="ctrl.options" rows="ctrl.data" class="material"></dtable>
  </md-content>

  <md-content class="footer md-default-theme">
  <md-divider class="md-default-theme"></md-divider>
  <p><strong>angular-data-table</strong> is a <strong>Swimlane</strong> open-source project; we believe in giving back to the open-source community by sharing some of our projects. <strong>Swimlane</strong> is an automated cyber security operations and incident response platform that enables cyber security teams to leverage threat intelligence, speed up incident response and automate security operations.&ensp;Learn more at <a href="http://swimlane.com">Swimlane.com</a></p>
  </md-content>
</div>  