<div ng-controller="UsersController as ctrl">  
  <section flex layout="column">

    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
      
      <div class="md-toolbar-tools">
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              File
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Share...
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
        <md-button 
          hide 
          show-sm 
          class="md-icon-button" 
          aria-label="menu" 
          ng-click="main.toggleSideNav()">
          <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2><span>Dashboard</span></h2>
        <span flex></span> <!-- flex span takes up middle space? -->
        <h2>{{ username || "Temp User" }}</h2>
        <md-menu md-position-mode="target-right target">
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
             <md-icon><i class="material-icons">more_vert</i></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item><md-button ng-click="logout()">logout</md-button></md-menu-item>
            <md-menu-item><md-button>Place Holder</md-button></md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
  </section>

  <md-content layout-padding flex="" id="content" class="md-default-theme">
    <h2>Scrolling</h2>
    <dtable options="ctrl.options" rows="ctrl.data" class="material"></dtable>
  </md-content>

  <md-content class="footer md-default-theme">
  <md-divider class="md-default-theme"></md-divider>
  <p><strong>angular-data-table</strong> is a <strong>Swimlane</strong> open-source project; we believe in giving back to the open-source community by sharing some of our projects. <strong>Swimlane</strong> is an automated cyber security operations and incident response platform that enables cyber security teams to leverage threat intelligence, speed up incident response and automate security operations.&ensp;Learn more at <a href="http://swimlane.com">Swimlane.com</a></p>
  </md-content>
</div>  