<div layout-fill layout="column" ng-cloak>
     <md-sidenav
        flex
        class="site-sidenav md-sidenav-left"
        md-component-id="left-menu"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">
    
    <md-toolbar class="md-hue-2" layout="row" layout-align="center center">
        <a ui-sref="index.dashboard">
            <img src="frontend/assets/img/famoustate-login-img.png" alt="Famous Tate">
        </a>
    </md-toolbar>
    
    <md-content role="navigation">
        <div ng-repeat="section in nav.menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : isOpen(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'"
              id="heading_{{ section.name | nospace }}">
            section
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </div>
    </md-content>
  </md-sidenav>
    <!--<md-sidenav
        flex
        class="site-sidenav md-sidenav-left"
        md-component-id="left-menu"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">

        <md-toolbar class="md-hue-2" layout="row" layout-align="center">
            <a ui-sref="index.dashboard">
                <img src="frontend/assets/img/famoustate-login-img.png" alt="Famous Tate">
            </a>
        </md-toolbar>
       
        <md-toolbar flex layout="column" class="md-hue-2">
            <md-list>
                <md-list-item ng-repeat="item in nav.items" ui-sref="index.{{item.link }}">
                    <span>{{ item.title }}</span>
                    <md-divder></md-divder>
                </md-list-item>
            </md-list>

        </md-toolbar>
    </md-sidenav>-->
</div>
