<link rel="stylesheet" href="frontend/app/layout/sidenav/sideNavStyle.css">
     <md-sidenav
        style="background-color:#37474F"
        flex
        class="site-sidenav md-sidenav-left"
        md-component-id="left-menu"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">
    
        <md-toolbar layout-align="center center" class="md-hue-2">
            <a ui-sref="index.dashboard">
                <img src="frontend/assets/img/famoustate-login-img.png" alt="Famous Tate">
            </a>
        </md-toolbar>
    
        <md-toolbar flex class="md-hue-2" role="navigation">
            <ul class="side-menu">
                <li ng-repeat="section in nav.menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : isOpen(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'"
                        id="heading_{{ section.name | nospace }}">
                        section
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>
            <span flex></span>
        </md-toolbar>
    </md-sidenav>
