<div ng-controller="NavController as ctrl">
    <md-toolbar layout="column">
    <a href="/" layout="row" layout-align="center center">
    <img src="frontend/assets/img/famoustate-login-img.png" alt="Famous Tate">
    </a>
    <span flex></span>
    </md-toolbar>
    <md-content layout-padding="" layout="column" layout-align="start start">
    <md-button>Corporate Reports</md-button>
    <md-button>Store Reports</md-button>
    <md-button>Warehouse Reports</md-button>
    <md-button>Vendor Reports</md-button>
    <md-button>My Sales</md-button>
    <md-button>Warehouse</md-button>
    <md-button>Accounting</md-button>
    <md-button>Taternet Admin</md-button>
    <md-button ng-click="ctrl.navigate('users')">Show Users</md-button>
    </md-content>
</div>
